*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: "Questrial", sans-serif;
  text-align: center;
  background: #ffe8e8;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.hero {
  margin: auto 0;
  padding: 0 2rem;

  &__title {
    font-size: 4rem;
  }
}
